body {
	background-image: url("Kigali-view.jpg");
	background-position: center;
	background-size: cover;
	font-size: 20px;
	font-weight: bold;
}

/* Style for the header */
header {
	background-color: rgb(43, 199, 103);
	color: #000;
	padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
	width: auto;
	text-align: center;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
    color: #000;
}

nav li {
	display: inline-block;
	margin-right: 20px;
    color: #000;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	font-size: 25px;
	margin-top: 30px;
}

nav a:hover {
	color: yellow;
	text-decoration: none;
}

/* Style for the main content */
main {
	padding: 20px;
	display: flexbox;}

section {
	margin-bottom: 30px;
}

h2 {
	font-size: 28px;
	margin-bottom: 10px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 10px;
}

/* Style for the form */
form label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
	display: block;
	width: 30%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #333;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

form input[type="submit"] {
	background-color: #000;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	display: block;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

form input[type="submit"]:hover {
	background-color: #555;
}
/* Style for the footer */
footer {
	background-color: blue;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 14px;
}
